@use 'vars' as *;

header{

    

    #info-header{
        height: 30px;
        background-color: $main-color;
        line-height: 30px;
        
        ul{
            display: flex;
            justify-content:end ;
            

            color: $full-white;

            li{
                a{
                    padding: 0 1rem;
                    margin: 0 .5rem;

                    font-size: .6rem;
                }
            }
        }
    }

    #header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

       

        figure{
            width: 60px;
            padding-top: .4rem;
            padding-bottom: .4rem;
        }

        ul{
            display: flex;

            
            a{
                color: black;
                font-weight: bold;
                padding: 1.5rem 1rem;
               // border-bottom: 4px solid $main-color;
                font-size: .8rem;
                text-transform: uppercase;
            }
        }

        input{
            text-align: end;
            border: none;
            border-bottom: 2px solid $main-color;
            padding: .3rem;

            width: 100px;
        }
    }
}