@use 'vars' as *;

#info-section{
    background-color: $main-color;
    padding: 50px 0;
   .wrapper{
    display: flex;
    justify-content: space-around;

    .info-link{

        display: flex;
        align-items: center;
        color: $full-white;
       img{
        height: 50px;
        width: 50px;
        object-fit: contain;
        margin-right: 10px;
       }
    }
   }
}